@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>ASP.NET MVC In Action</title>
    </head>
    <body>
        
        <div>
            <h1>_Layout.Mobile.cshtml</h1>
            @RenderBody()
        </div>
       
    </body>
</html>