@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>. 
            The page features <span class="highlight">videos, tutorials, and samples</span> to help you get the most from 
            ASP.NET MVC. If you have any questions about ASP.NET MVC visit 
            <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5><a href="http://go.microsoft.com/fwlink/?LinkId=245151">Configure ASP.NET Membership</a></h5>
        ASP.NET membership gives you a built-in way to create, store, and 
        validate user credentials (authentication). By default, membership works with a local instance of SQL Server, 
        but you can configure it to use another database.
    </li>
    <li class="two">
        <h5><a href="http://go.microsoft.com/fwlink/?LinkId=245153">Add NuGet packages and jump start your coding</a></h5>
        NuGet makes it easy to install and update free libraries and tools in Visual Studio. In <em>Solution Explorer</em>, 
        right-click the <em>References</em> node, select <em>Manage NuGet Packages</em>, and then pick from the extensive 
        list of packages.
    </li>
    <li class="three">
        <h5><a href="http://go.microsoft.com/fwlink/?LinkId=245154">Setup deployment to your web server</a></h5>
        Use Microsoft Web Deploy to quickly and easily publish your application to a web server. 
        In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>, 
        and choose one of the many options to get your code deployed and running on the web.
    </li>
    <li class="four">
        <h5><a href="http://go.microsoft.com/fwlink/?LinkId=245156">NuGet Gallery</a></h5>
        NuGet is a Visual Studio extension that makes it easy to install and update open source libraries and tools in Visual Studio.
    </li>
    <li class="five">
        <h5><a href="http://go.microsoft.com/fwlink/?LinkId=245157">Find Web Hosting</a></h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
    </li>
</ol>